cycler==0.10.0
decorator==4.4.2
future==0.18.2
imagecodecs==2020.2.18
imageio==2.8.0
kiwisolver==1.2.0
matplotlib==3.2.1
networkx==2.4
numpy>=1.22.1
opencv-contrib-python-headless==4.2.0.32
pandas==1.0.3
Pillow>=8.1.1
pydicom==1.4.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
scikit-image==0.17.2
scipy==1.4.1
six==1.14.0
tifffile==2020.5.11
torch==1.5.0
torchvision==0.6.0
